<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Blogs</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Blogs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if session.get("username") %}
          <li class="nav-item active">
            <a class="nav-link text-white" href="/blogs">My blog</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/users">Users</a>
          </li>
          {% if session.get("username") %}
          <li class="nav-item">
                <a class="nav-link" href="/logout">Log out ({{ session['username'] }})</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  {% block body %}{% endblock %}
  <script src="/static/js/jquery/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
